<div class = "image">
  <img class = "imgage" src "{{image}}" alt = "{{name}}">
  <h1 class = "title">{{name}}</h1>
  <div>type{{type}}</div>
  <div>age{{age}}</div>
  <div>available{{available}}</div>
</div>