<form class="form" action="/animals/edit/{{id}}" method="post">
  <img class="img" src="{{photo}}" alt="{{name}}">
  <label for="available" class="form-item">
    Would you like to adopt {{name}}? Change availability to false
    <input type="text" name="available" value="{{available}}">
  </label>
  

  
  <input type="submit" name="" value="Submit">
</form>