<div class = "image">
  <img class = "image" src={{photo}} alt={{name}}>
  <h1 class="title">{{name}}</h1>
  <div>Type: {{type}}</div>
  <div>Age: {{age}}</div>
  <div>Available: {{available}}</div>
  <div> Interested in adoption? <a href="./edit/{{id}}">Click here</a></div>
</div>